body {
    display: flex; 
    justify-content: center; 
    margin-top: 10px;
    font-size: 1rem;
}

@media (max-width: 576px) {
    body {
        font-size: 0.85rem;
    }

    h5 {
        font-size: 1.1rem;
    }

    .search_div_a {
        font-size: 0.9rem;
    }
}
  

body > .card {
    max-width: 1100px;
}

.header-container {
    position: sticky; 
    top: 0;
    margin-left: 1px;
    z-index: 100; 
    background-color: #fff;
    border-radius: var(--bs-card-border-radius);

    border-bottom: 1px solid lightgray;
    height: 60px;
    padding: 0;
    
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.logo-a {
    flex-shrink: 5;
}

.logo-img:hover {
    transform: scale(1.05); 
    transition: transform 0.2s ease;
}

.header-search-input{
    max-width: 400px;
    min-width: 100px;
}

.header-search-input input{
    flex-grow: 1;
}

.btn-detailed {
}

.btn-account {
    height: 39px;
    position: relative;
    display: flex;
}

.bottom-border {
    border-bottom: 1px solid lightgray; 
}

.content-container {
    padding: 0.75em 0.75em 0 0.75em;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.margin-top {
    margin-top: 10px;
}

.margin-right {
    margin-right: 10px;
}

.margin-bottom {
    margin-bottom: 10px;
}

.col{
    margin-bottom: 0.75em;
}

/* ----------------------- NEWS ----------------------------------------------------------------------------------------- */
.news-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.news-card {
}

.news-header h5 {
    margin: 0;
}

.news-header div {
    white-space: nowrap;
}

.news-btn-container {
    display: flex;
    gap: 5px;
}

.btn-smaller {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* #news_date_div {
    flex-grow: 1;
    text-align: center;
} */

.news-body {
    padding: 0;
    margin: 16px;

}

#news_content {
    display: -webkit-box;
    -webkit-line-clamp: 10; 
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.news_title_a {
    text-decoration: none;
    color: black;
}

#news_title:hover {
    color: var(--color-darkest-green)
}

#news_img {   
    max-width: 100%;
    max-height: 160px;
    margin-bottom: 10px;
    justify-content: center;
}
/* -------------------------- LATEST REVIEWS -------------------- */
.latest-reviews-card{
}

/* --------------------------------------------------------------- */

.index_game-review_img {
    height: 90px;
}

.index_game-review_img:hover {
    transform: scale(1.1); 
    transition: transform 0.2s ease;
}

.index_game-review_img_a {
    margin-left: 16px;
    border-left: 1px solid lightgray; 
    padding-left: 16px;
}

/* --------------------- SEARCH ---------------------------------------------------------------------------------------------- */

.search_list_item {
    padding: 0.75rem 0;
}

.search_wide_box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0;
    
    gap: 0.5rem;
}

.search_img {
    height: 90px;
}

.search_img:hover {
    transform: scale(1.1); 
    transition: transform 0.2s ease;
}

.search_img_a {
    margin-right: 0.75rem;
}

.search_div_a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: medium;
}

.search_div_a:hover {
    color: var(--color-darkest-green);
}

.info_div {
    font-size: small;
}

.description_div {
    display: -webkit-box;
    -webkit-line-clamp: 3;  /* Maximálně 3 řádky */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.description_div_wide {
    width: 60%;
    display: -webkit-box;
}

.description_div_narrow {
    width: 100%;
    display: none;
}

@media (max-width: 768px) {
    .description_div_wide {
        display: none;
    }
    
    .description_div_narrow {
        display: -webkit-box;
    }

    .search_wide_box {
        margin-bottom: 0.75rem;
    }
}

/* --------------------- GAME ---------------------------------------------------------------------------------------------- */
.game-info1 {
    display: flex;
    align-items: start;
    /* max-width: 50%; */
}

.game-info-box {
    display: flex;
    gap: 10px;
}

.game-info-green {
    font-weight: 500;
    color: var(--color-darkest-green);
}

.game-info-black {
    font-weight: 500;
    color: black
}

.game-info11 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.game-info112 {
    display: flex;
}

.game-info112-left{
    margin-right: 10px;
}

.game-info112-right-head{
    padding-left: 10px;
}

#game-info-genre-list {
    padding-left: 10px;
    border-left: 1px solid lightgray;
}

#game-info-platform-list, #game-info-genre-list{
    max-height: calc(3 * 2.5em); /* 4 položky, každá cca 2.5em vysoká */
    overflow-y: auto;
}

#game-info-img {
    max-width: 30%;
    max-height: 200px;
    margin-right: 16px;
    margin-bottom: 16px;
}

#game-text-div {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.btn-make-rev-wide{
    height: fit-content;
    white-space: nowrap;
}

.btn-make-rev-narrow {
    position: absolute;
    left: 9px;
    top: -110px;
    display: none;
    width: 80px;
    height: fit-content;
    white-space: normal;
    /* font-size: 0.85rem; */
}

.btn-make-rev-narrow > div {
    overflow-y: auto;
}

@media (max-width: 768px) {
    .btn-make-rev-wide {
        display: none;
    }
    
    .btn-make-rev-narrow {
        display: block;
    }
}

/* ----- GAME - REVIEW --------------------- */

.game-reviews-list-name {
    margin-bottom: 8px;
}

.game-reviews-list-divbox{
    display: flex;
    position: relative;
}

.game-reviews-list-box1 {
    padding-right: 12px;
    border-right: 1px solid lightgray;
}

.game-reviews-list-box2 {
    margin-left: 16px;
    width: 100%;

    display: -webkit-box;
    -webkit-line-clamp: 3;  /* Maximálně 3 řádky */
    -webkit-box-orient: vertical;

    overflow-y: auto;
}

.game-reviews-list-box2-inner{
    max-height: 50vh;
}

.game-reviews-list-item {
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.game-reviews-list-comb1 {
    display: flex;
    align-items: end;
    gap: 10px;
    white-space: nowrap;
}

.game-reviews-list-comb2{
    display: flex;
    gap: 10px;
}

.game-reviews-list-bar{
    width: 80px;
    height: 20px;
    background: linear-gradient(to right, var(--color-darker-green) var(--fill), #eee var(--fill));
    border-radius: 16px;
    border: 1px solid black;
}


.game-reviews-list-date, .game-reviews-list-plat {
    white-space: nowrap;
}

.game-detail-container {
    width: 50%;
}


/* -------------- ACCOUNT DROPDOWN ------------------- */
.dropdown-content-account {
    right: 0;
    top: 100%;
    display: block;
    visibility: hidden;
    position: absolute;
    background: white;
    z-index: 2000002;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: -1.2px 8px 6px 0px rgba(2, 3, 3, 0.3);
}

.dropdown-content-header {
    margin: 0; 
    font-weight: 500; 
    padding: 10px; 
    color: black;
}

.dropdown-content-account > div {
    width: 100%; 
    background-color: lightgray;
}

.dropdown-content-account > ul {
    list-style: none; 
    margin: 0; 
    padding: 0;
}

.dropdown-content-li {
    text-decoration:none;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.dropdown-content-li a {
    text-decoration: none;
    color: var(--color-green);
}

.dropdown-content-li a:hover {
    color: var(--color-darkest-green);

    align-items: center;
    justify-content: center;
}

/* --------------------- MODAL OKNO ---------------------------- */

/* Modální okno */
.modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Poloprůhledné pozadí */
    justify-content: center;
    align-items: center;
}

/* Obsah modálního okna */
.modal-content {
    max-width: 50vw;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.3s ease;
}

@media (max-width: 767px) {
    .modal-content {
        max-width: 90vw;
    }
}

/* Přechod při zobrazení loginu */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* ---------------- GRAF ----------------------- */
.graf-card {

}

.graf-card-body{
    overflow-x: auto;
}

.graf-card-body-canvas{
    min-width: 610px;
}

/* ------------------ FOOTER ------------------------- */
.footer-about-a {
    text-decoration: none;
    color: darkgray;
    width: auto;
}

.footer-about-a:hover {
    color: var(--color-darkest-green);
}

/* ------------------------------------------------- */


:root {
    --color-green: #198754;
    --color-darker-green: #157347;
    --color-darkest-green: #105535;


}